<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- <link rel="stylesheet" href="style.css"> -->
  <title>project html css</title>
  <a ng-href="/fonts/alegreya-sans" class="adobe-fonts-family-card--link" ng-click="familyCard.handleFamilyCardClick()"
    tabindex="0" href="/fonts/alegreya-sans">
  </a>
</head>
<style>


</style>

<body>

  <div class="container-box">

    <div>
      <p class="font-size text-align">Our Pricing </p>
      <div class="display-flex mt-26">
        <p class="pr-10">Annually</p>
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
        <p class="pl-10">Monthly</p>
      </div>
      <div id="cards">


        <div class="card-row display-flex width-100">
          <div class="col-4 card-basic background-white width-33">
            <div class="price-card">
              <p><br />Basic</p>
              <p>
              <h1>$ 19.99</h1>
              </p>
              <p>500 GB Storage</p>
              <p>2 User Allowed</p>
              <p>Send Up to 3GB</p>
              <button class="button">Learn More</button>
            </div>
          </div>
          <div class="col-4 card-professional  background-white width-33">
            <div class="price-card center-card">
              <p>Basic</p>
              <p>
              <h1>$ 19.99</h1>
              </p>
              <p>500 GB Storage</p>
              <p>2 User Allowed</p>
              <p> Send Up to 3GB</p>
              <button class="button">Learn More</button>
            </div>

          </div>
          <div class="col-4 card-master background-white width-33">
            <div class="price-card">
              
              <p><br />Basic</p>
              <p>
              <h1>$ 19.99</h1>
              </p>
              <p>500 GB Storage</p>
              <p>2 User Allowed</p>
              <p>Send Up to 3GB</p>

              <button class="button">Learn More</button>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>